/* font-family: 'Roboto', sans-serif;
font-family: 'DM Serif Display', serif; */

.container {
    width: 100%;
    height: 99vh;
    background-image: url(../IMG/bgcfoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_text {
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: 'DM Serif Display', serif;
    color: white;
    z-index: 1;
}

.site_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 10vh;
    grid-template-areas: "logo text navbar" "navigation navigation navigation";
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(196, 129, 129);
}

.site_header-logo {
    width: 50%;
    grid-area: logo;
    margin: 10px;
}

.site_header-text {
    grid-area: text;
    color: white;
    text-transform: uppercase;
    font-family: 'DM Serif Display', serif;
}

.site_header-navbar {
    color: white;
    grid-area: navbar;
    justify-self: end;
    padding: 10px;
    font-size: 30px;
}

.site_header-navbar-active {
    background-color: rgb(196, 129, 129);
}

.site_header-navigation {
    display: none;
    grid-area: navigation;
    background-color: rgb(196, 129, 129);
    margin-top: -12px;
}

.site_header-navigation-active {
    display: block;
}

.site_header-navigation-active-ul {
    list-style: none;
}

.site_header-navigation-active-ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}